extends ../../layout.jade
block contenido 
    div(class="container top-space")
        a(href="/singup")
            input(type="button" value="New" class="btn btn-info pull-right")
        h1 Ususarios  
            =userLo
        for user in users
            .white.border.tr.large-padin
                .row
                    .col-md-10
                        h2 Nombre: 
                           =user.username
                        h2 Email:  
                           =user.email
                        h2 Contraseña:   
                           =user.password
                    .col-md-2
                        form(action="/users/#{user._id}?_method=DELETE", class="link", method="POST")
                            input(type="submit" value="Eliminar")